<mat-toolbar color="primary">
    <span class="m-5">Keep</span>
    <nav mat-tab-nav-bar class="row align-item-start">
      <div class="col">
        <a mat-tab-link routerLink="/notes" routerLinkActive="active-link">Notes</a>
      </div>
      <div class="col">
        <a mat-tab-link routerLink="/create-note" routerLinkActive="active-link">Create a Note</a>
      </div>
      <div class="col">
        <a mat-tab-link routerLink="/login" routerLinkActive="active-link">Login</a>
      </div>
    </nav>
</mat-toolbar>
  